$o-main-color: #303133;
$o-content-color: #606266;
$o-tips-color: #909399;
$o-light-color: #c0c4cc;
$o-border-color: #e4e7ed;
$o-bg-color: #f3f4f6;

$o-type-primary: #2979ff;
$o-type-primary-light: #ecf5ff;
$o-type-primary-disabled: #a0cfff;
$o-type-primary-dark: #2b85e4;

$o-type-warning: #ff9900;
$o-type-warning-disabled: #fcbd71;
$o-type-warning-dark: #f29100;
$o-type-warning-light: #fdf6ec;

$o-type-success: #19be6b;
$o-type-success-disabled: #71d5a1;
$o-type-success-dark: #18b566;
$o-type-success-light: #dbf1e1;

$o-type-error: #fa3534;
$o-type-error-disabled: #fab6b6;
$o-type-error-dark: #dd6161;
$o-type-error-light: #fef0f0;

$o-type-info: #909399;
$o-type-info-disabled: #c8c9cc;
$o-type-info-dark: #82848a;
$o-type-info-light: #f4f4f5;

$o-form-item-height: 70rpx;
$o-form-item-border-color: #dcdfe6;
