$gulu-main-color: #303133;
$gulu-content-color: #606266;
$gulu-tips-color: #909399;
$gulu-light-color: #c0c4cc;
$gulu-border-color: #e4e7ed;
$gulu-bg-color: #f3f4f6;

$gulu-type-primary: #2979ff;
$gulu-type-primary-light: #ecf5ff;
$gulu-type-primary-disabled: #a0cfff;
$gulu-type-primary-dark: #2b85e4;

$gulu-type-warning: #ff9900;
$gulu-type-warning-disabled: #fcbd71;
$gulu-type-warning-dark: #f29100;
$gulu-type-warning-light: #fdf6ec;

$gulu-type-success: #19be6b;
$gulu-type-success-disabled: #71d5a1;
$gulu-type-success-dark: #18b566;
$gulu-type-success-light: #dbf1e1;

$gulu-type-error: #fa3534;
$gulu-type-error-disabled: #fab6b6;
$gulu-type-error-dark: #dd6161;
$gulu-type-error-light: #fef0f0;

$gulu-type-info: #909399;
$gulu-type-info-gulu-disabled: #c8c9cc;
$gulu-type-info-gulu-dark: #82848a;
$gulu-type-info-gulu-light: #f4f4f5;

$gulu-form-item-height: 70rpx;
$gulu-form-item-border-color: #dcdfe6;

$gulu-container-header: #b3c0d1;
$gulu-container-main: #e9eef3;
$gulu-container-aside: #d3dce6;
$gulu-container-footer: #b3c0d1;
