$mmq-main-color: #303133;
$mmq-content-color: #606266;
$mmq-tips-color: #909399;
$mmq-light-color: #c0c4cc;
$mmq-border-color: #e4e7ed;
$mmq-bg-color: #f3f4f6;

$mmq-type-primary: #2979ff;
$mmq-type-primary-light: #ecf5ff;
$mmq-type-primary-disabled: #a0cfff;
$mmq-type-primary-dark: #2b85e4;

$mmq-type-warning: #ff9900;
$mmq-type-warning-disabled: #fcbd71;
$mmq-type-warning-dark: #f29100;
$mmq-type-warning-light: #fdf6ec;

$mmq-type-success: #19be6b;
$mmq-type-success-disabled: #71d5a1;
$mmq-type-success-dark: #18b566;
$mmq-type-success-light: #dbf1e1;

$mmq-type-error: #fa3534;
$mmq-type-error-disabled: #fab6b6;
$mmq-type-error-dark: #dd6161;
$mmq-type-error-light: #fef0f0;

$mmq-type-info: #909399;
$mmq-type-info-mmq-disabled: #c8c9cc;
$mmq-type-info-mmq-dark: #82848a;
$mmq-type-info-mmq-light: #f4f4f5;

$mmq-form-item-height: 70rpx;
$mmq-form-item-border-color: #dcdfe6;

$mmq-container-header: #b3c0d1;
$mmq-container-main: #e9eef3;
$mmq-container-aside: #d3dce6;
$mmq-container-footer: #b3c0d1;
